.logoParent {
  perspective: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: 15rem;
  height: 15rem;
  background-image: url("/img/moinnft-icon.png");
  background-size: cover;
  transform: rotateY(45deg);
  animation: rotateAnimation 8s ease-in-out infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(-30deg);
  }
  50% {
    transform: rotateY(30deg);
  }
  to {
    transform: rotateY(-30deg);
  }
}
